SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
ADMIN_PATH=control/
BASE_URL=http://localhost:8000
# MySQL example
# DB_ENGINE=django.db.backends.mysql
# DB_NAME=mvsst
# DB_USER=root
# DB_PASSWORD=secret
# DB_HOST=127.0.0.1
# DB_PORT=3306
